@import '../../common.scss';
.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: px(4);
    padding-bottom: px(4);
    box-shadow: px(0) px(-1) px(10) rgba(0, 0, 0, 0.15);
    background: #ffffff;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: px(0);
}

.navBar ul li {
    width: 33.33%;
}

.navBar ul li a {
    display: block;
}

.navBar ul li a .nav-icon {
    display: block;
    width: px(24);
    height: px(24);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: px(328) px(429);
}

.navBar ul li:first-child a .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-58) px(-88);
}

.navBar ul li:first-child a.active .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-58) px(-88);
}

.navBar ul li:first-child+li a .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-180) px(-88);
}

.navBar ul li:first-child+li a.active .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-180) px(-88);
}

.navBar ul li:first-child+li+li a .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-119) px(-283);
}

.navBar ul li:first-child+li+li a.active .nav-icon {
    background-image: url('../../image/nav2.jpg');
    background-position: px(-119) px(-283);
}

.navBar ul li a .nav-font {
    font-size: px(14);
    line-height: px(18);
    text-align: center;
    color: #282c34;
    margin-top: px(4);
}

.navBar ul li a.active .nav-font {
    color: #FF6800;
}